/**
 * Overrides for the clean_lines_marine_green.v3.1 theme
 */

/* First few sets of styles here have to do with essentially
 * resetting some of the theme's layout styling */

/* Each "zone" defined by the theme's CSS enforces centered
 * container with a maxiumum width.  Instead, we want to
 * allow for usage of the entire width of the viewport, so
 * first thing we do is reset the main containers */
.zoneHeader1 > .container_12,
.zoneHeader1 > .container_12 > .s1_grid_12,
.zoneHeader2 > .container_12,
.zoneHeader2 > .container_12 > .s1_grid_12,
.zoneHeader3 > .container_12,
.zoneHeader3 > .container_12 > .s1_grid_12,
.zoneHeader4 > .container_12,
.zoneHeader4 > .container_12 > .s1_grid_12,
.zoneContent > .container_12,
.zoneContent> .container_12 > .s1_grid_12,
.zoneFooter3 > .container_12,
.zoneFooter3> .container_12 > .s1_grid_12 {
  width: 100%;
  margin: 0;
}

/* Black argyle background for the body */
body {
  background: url('https://f.wildapricot.org/ThemeSharedRes/HeaderBackgroundImages/Bg-pattern-8.png');
}

/* Remove theme's place holder padding */
.WaPlaceHolder > div {
  padding: 0;
}

/* Remove each zone's background images and colors */
.zoneHeader1, .zoneHeader2,
.zoneHeader3, .zoneHeader4,
.zoneContent, .zoneFooter1,
.zoneFooter2, .zoneFooter3 {
  background: none;
}

/* Footer color and padding */
.zoneFooter3 {
  color: #e6e6e6;
}

/* "Powered by Wild Apricot" text */
#idFooterPoweredByContainer {
  width: auto;
  padding: 20px;
}

/* Light gray background for content */
.zoneContent {
  background: #fafafa;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One' !important;
}

h1 {
  font-size: 36px;
}

/* Links */

a, a:visited {
  color: #1694d9;
}

a:hover {
  text-decoration: none;
}

/* General button styling */

/* Wizard button styling
 * Ghost buttons...
 * (see http://cdn.sixrevisions.com/0468-01-css-ghost-buttons/index.html) */
.zoom-button {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 12px;
  border-radius: 12px;
  background: #303030;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;  
}

.zoom-button:visited {
  color: #ffffff;
}

input[type="button"],
input[type="submit"],
input[type="submitButton"],
input.button,
input.typeButton,
input.loginButton {
  border-radius: 12px !important;
  border-color: #303030 !important;
  background: #303030 !important;
  color: #ffffff !important;
  font: 14px 'Open sans' !important;
  font-weight: bold !important;
  padding: 12px !important;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out !important;
}

input[type="button"]:hover,
input[type="button"]:active,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submitButton"]:hover,
input[type="submitButton"]:active,
input.button:hover,
input.button:active,
input.typeButton:hover,
input.typeButton:active,
input.loginButton:hover,
input.loginButton:active {
  background: #FF9600 !important;
  color: #fff !important;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in !important;
}

/* Homepage styles */

/* zoneHeader1:
 * Contains a single layout w/a the argyle cover image,
 * 100% of viewport and relatively positioned with
 * all other components absolutely-positioned over it. */
.argyle-splash {
  position: relative;
  height: 100vh;
  background: url(/resources/Pictures/Zoom/home/argyle_splash.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0 15px;
}

/* Needed this to get the home page's absolutely-positioned
 * components to look right. */
.argyle-splash .WaLayoutTable,
.argyle-splash .WaLayoutTable tbody,
.argyle-splash .WaLayoutTable tr,
.argyle-splash .WaLayoutTable td {
  height: 100%;
}

/* Header styles: home and standard template */
.home-header {
  position: absolute;
  top: 15px;
  width: 100%;
}

.standard-header {
  padding-top: 10px;
}

/* Join button */
.join-button {
  display: inline-block;
  float: right;
}

.sponsor-scroller {
  padding: 10px 0px;
}

.sponsor-scroller .gadgetStyleBody p {
  white-space: nowrap;
  overflow-x: scroll;
}

.sponsor-scroller .gadgetStyleBody p img {
  height: 80px !important;
  width: auto !important;
}

.sponsor-scroller .gadgetStyleBody p img {
  padding: 0px 10px;
}

/* Join button: hidden when user is logged in */
.memberContentView .join-button {
  display: none;
}

#best-of-logo {
  top: 100px;
  left: 15%;
  width: 30%;
  max-width: 200px;
  -ms-transform: rotate(-13deg);
  -webkit-transform: rotate(-13deg);
  transform: rotate(-13deg);
}

#best-of-logo img {
  height: auto;
  width: 100%;
}

#imlp-first {
  position: absolute;
  top: 100px;
  left: 70%;
}

#imlp-first img {
  height: auto;
  width: 35%;
}

#immt-third {
  position: absolute;
  top: 250px;
  left: 76%;
}

#immt-third img {
  height: auto;
  width: 44%;
}


/* Members-only nav links */

.members-only-nav {
  display: none;
  float: right;
}

.memberContentView .members-only-nav {
  display: table;
}

.members-only-nav {
  margin-top: 10px;
}

.members-only-nav .member-dash-link,
.members-only-nav .member-menu-container {
  display: table-cell;
  vertical-align: middle;
}

.members-only-nav .member-dash-link img {
  height: 75px;
}

.members-only-nav .member-menu-container .member-menu {
  margin-left: 10px;
  padding: 5px 7px;
  border: 1px solid #efefef;
  border-radius: 4px;
  color: white;
  background: #363636;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
  transition:
    opacity 0.2s ease-out,
    background-color 0.2s ease-out,
    border-color 0.2s ease-out,
    color 0.2s ease-out;  
}

.members-only-nav .member-menu-container .member-menu:hover {
  border: 1px solid #cecece;
  color: #FFF;
  background-color: #FF9600;
  opacity: 1;
}

.WaGadgetLoginButton {
  display: inline-block;
  float: right;
}

.WaGadgetLoginButton .loginBoxLinkContainer .loginBoxLinkButton {
  border: 1px solid #303030;
  transition:
    opacity 0.2s ease-out,
    background-color 0.2s ease-out,
    border-color 0.2s ease-out,
    color 0.2s ease-out;
}

.WaGadgetLoginButton .loginBoxLinkContainer .loginBoxLinkButton:hover {
  border: 1px solid #cecece;
  color: #FFF;
  background-color: #FF9600;
  opacity: 1;
}

.memberContentView .WaGadgetLoginButton {
  display: none;
  border: 1px solid #efefef;
  border-radius: 7px;
  background: #1f1f1f;
  padding: 5px 0px 10px 20px;
  position: absolute;
  right: 0;
  top: 55px;
  z-index: 1;
}

.memberContentView .standard-header .WaGadgetLoginButton {
  top: 80px;
}

.memberContentView .WaGadgetLoginButton a {
  color: #fff;
  display: block;
}

.memberContentView .WaGadgetLoginButton a:hover {
  text-decoration: none;
  color: #FF9600;
  transition: color 0.2s ease-out;
}

.home-tagline {
  position: absolute;
  top: 80%;
  width: 100%;
  font-weight: lighter;
}

.home-down-caret {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

/* zoneHeader2:
 * "Why Join?" cover image */
.home-cover-why-join {
  background: url(/resources/Pictures/Zoom/home/whyjoin.png);
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 1000px;
}

/* General styling for homepage components */

/* Resetting of gadget margins for the various components */
.home-header [class^="WaGadget"],
.home-text-overlay [class^="WaGadget"],
.home-quote [class^="WaGadget"] {
  margin: 0px;
}

.home-header .WaGadgetLoginButton {
  margin-top: 10px;
}

.home-header .members-only-nav {
  margin-top: -10px;
}

.home-cover-img {
  background-size: cover;
  background-attachment: fixed;
  min-height: 800px;
  height: auto;
}

.home-text-overlay {
  background: rgba(255,255,255,0.5);
  padding: 10px 80px;
}

.home-text-overlay p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.home-quote {
  text-align: center;
}

.home-quote [class^="WaGadget"] {
  display: inline-block;
  vertical-align: top;
}

.home-quote img {
  display: block;
  float: left;
}

/* Styling for join-us wizard */

.WaGadgetMembershipApplication .fieldSubContainer .singleStringContainer,
.WaGadgetMembershipApplication .formTitleOuterContainer {
  margin: 0px;
}

.navigationOuterContainer {
  margin: 0px;
}

/* Newsletter sign-up */
#mc_embed_signup {
  border-radius: 10px;
  max-width: 400px;
}

#mc_embed_signup .indicates-required {
  float: right !important;
}

#mc_embed_signup .mc-field-group {
  width: 96% !important;
}


/* Homepage chat bubbles */
.chat-bubble-left {
  padding: 0 30px;
  font-size: 18px;
  font-weight: bold;
  color: #303030;
}

.chat-bubble-left .gadgetStyleBody {
  position: relative;
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 15px;
  border: solid 2px #999;
}

.chat-bubble-left .gadgetStyleBody:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 28px 8px 0;
  border-color: transparent #999;
  display: block;
  width: 0;
  z-index: 0;
  left: -29px;
  bottom: 15%;
}

.chat-bubble-right {
  padding: 0 30px;
  font-size: 18px;
  color: #FF9600;
  text-align: right;
}

.chat-bubble-right .gadgetStyleBody {
  position: relative;
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 15px;
  border: solid 2px #FF9600;
}

.chat-bubble-right .gadgetStyleBody:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 0 8px 28px;
  border-color: transparent #FF9600;
  display: block;
  width: 0;
  z-index: 0;
  right: -29px;
  bottom: 10%;
}

/* Leadership page */
.board-member {
  text-align: center;
  display: inline-block;
  margin: 0px;
  margin-right: 20px;
}

.board-member img {
  border-radius: 5px;
}

.board-member .member-name {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}

.board-member .member-title {
  display: block;
  font-style: italic;
}

/* Homepage sign-me-up button */
.sign-me-up  .gadgetStyleBody:hover, .sign-me-up  .gadgetStyleBody:active {
  background-color: #FF9600;
  color: #fff !important;
  border-color: #fff;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.sign-me-up  .gadgetStyleBody:hover a, .sign-me-up  .gadgetStyleBody:active a {
  color: #fff;
  display: block;
  transition: color 0.3s ease-in;
}

.sign-me-up  .gadgetStyleBody:hover:before, .sign-me-up  .gadgetStyleBody:active:before {
  border-color: transparent #fff;
  transition: border-color 0.3s ease-in;
}

.navigationTopContainer {
  margin-bottom: 15px;
}

/* I dunno what this thing is but it produced an empty green box
 * during the sign-up workflow... */
.captionOuterContainer {
  display: none;
}

.navigationOuterContainer .navigationContainer .left input.nextButton,
.navigationOuterContainer .navigationContainer .left input.typeButton,
.navigationOuterContainer .navigationContainer .left input[type=submit],
.navigationOuterContainer .navigationContainer .right input.nextButton,
.navigationOuterContainer .navigationContainer .right input.typeButton,
.navigationOuterContainer .navigationContainer .right input[type=submit] {
  background: #303030;
  color: #fff;
  padding: 12px;
  border-radius: 12px;
}

.navigationOuterContainer .navigationContainer .left input.nextButton:hover,
.navigationOuterContainer .navigationContainer .left input.typeButton:hover,
.navigationOuterContainer .navigationContainer .left input[type=submit]:hover,
.navigationOuterContainer .navigationContainer .right input.nextButton:hover,
.navigationOuterContainer .navigationContainer .right input.typeButton:hover,
.navigationOuterContainer .navigationContainer .right input[type=submit]:hover,
.zoom-button:hover {
  background: #FF9600;
  text-decoration: none;
  color: #FFF;
}

.infoOuterContainer {
  background: #FF9600;
  color: #303030;
  border-radius: 12px;
}

.confirmWindowInfo .cww3,
.confirmWindowInfo .cww4,
.confirmWindowInfo .cww-inner {
  background: #FF9600;
  color: #303030;
  border-color: #303030;
}

/* Generic table styles */
.genericListTable thead th,
.membersTable thead th,
.WaGadgetForumStateList .boxHeaderOuterContainer table td,
.WaGadgetForum .boxHeaderOuterContainer table td {
  background: #303030 !important;
  color: #FF9600 !important;
  font-family: 'Fjalla One' !important;
}

.WaGadgetForumStateList .boxHeaderOuterContainer table td h4,
.WaGadgetForum .boxHeaderOuterContainer h4 {
  color: #FF9600 !important;
}

.genericListTable tr:hover td,
.membersTable tr:hover td,
.WaGadgetForumStateList .boxBodyContainer tr:hover td,
.WaGadgetForum .boxBodyContainer tr:hover td {
  background: #efefef !important;
}

.genericListTable th.firstTh,
.genericListTable thead th:first-child,
.membersTable thead th:first-child,
.WaGadgetForumStateList .forumListContainer .boxHeaderOuterContainer table td:first-child,
.WaGadgetForum .boxHeaderOuterContainer table td:first-child {
  border-top-left-radius: 10px !important;
}

.genericListTable th.lastTh,
.genericListTable thead th.right,
.membersTable thead th.right,
.WaGadgetForumStateList .forumListContainer .boxHeaderOuterContainer table td:last-child,
.WaGadgetForum .boxHeaderOuterContainer table td:last-child {
  border-top-right-radius: 10px !important;
}

/* Member Dashboard styles */

.members-only-container .WaLayoutItem {
  padding: 0 10px;
}

.members-only-link a {
  display: table;
}

.members-only-link img {
  display: table-cell;
  vertical-align: middle;
  height: 75px;
  width: 75px;
  float: left;
  margin-right: 10px;
}

.members-only-link span {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Fjalla One';
  font-size: 24px;
}

/* Member profile page */
#memberPhotoGalleryShowLink {
  display: none;
}

/* Event calendar styles */
.WaGadgetEventsStateCalendar h3 {
  font-size: 22px;
  margin: 0px 20px 0px 0px;
}

.WaGadgetEventsStateList .pageTitleOuterContainer,
.WaGadgetEventsStateCalendar .pageTitleOuterContainer {
  margin-top: 0px;
}

.WaGadgetEventsStateCalendar #idViewSwitchersTable {
  margin: 0px 0px 10px 0px;
}

.WaGadgetEventsStateCalendar .EventListCalendar tr,
.WaGadgetEventsStateCalendar .EventListCalendar td {
  border: 0px !important;
}

.WaGadgetEventsStateCalendar .EventListCalendar td.EventListCalendarHeader,
.WaGadgetEventsStateCalendar .EventListCalendar .EventListCalendarHeader .calendarDate {
  background: #303030;
  color: #FF9600;
  font-family: 'Fjalla One';
  font-size: 18px;
}

.WaGadgetEventsStateCalendar .EventListCalendar .yearViewHeader {
  background: #303030;
  color: #FF9600;
  font-family: 'Fjalla One';
}

.WaGadgetEventsStateCalendar .EventListCalendar td.EventListCalendarHeader:first-child,
.WaGadgetEventsStateCalendar .EventListCalendar td.EventListCalendarItemDefault:nth-child(2) a {
  border-top-left-radius: 10px;
}

.WaGadgetEventsStateCalendar .EventListCalendar td.EventListCalendarHeader:last-child,
.WaGadgetEventsStateCalendar .EventListCalendar td.EventListCalendarItemDefault:last-child a {
  border-top-right-radius: 10px;
}

.WaGadgetEventsStateCalendar .EventListCalendar td > div {
  background: #303030;
  color: #FF9600;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

.WaGadgetEventsStateCalendar .EventListCalendar td > div:hover {
  background: #FF9600;
  color: #fff;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

.WaGadgetEventsStateCalendar .EventListCalendar a.eventHover {
  text-decoration: none !important;
}

.WaGadgetEventsStateList ul.boxesList li.boxesListItem {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.WaGadgetEventsStateDetails .pageTitleOuterContainer .pageTitleContainer {
  margin-bottom: 10px;
}

.WaGadgetEventsStateDetails .pageTitleOuterContainer .pageTitleContainer h1.pageTitle,
.WaGadgetEventsStateList h3.sectionTitle,
.WaGadgetEventsStateList .boxOuterContainer .boxHeaderOuterContainer .boxHeaderContainer h4.boxHeaderTitle a {
  font-family: "Fjalla One";
  font-size: 28px;
}

/* For some reason they display "upcoming events" on top of the
 * page when viewing a specific event. This hides it*/
.WaGadgetUpcomingEvents.WaGadgetFirst {
  display: none;
}

.WaGadgetEventsStateDetails .pageTitleOuterContainer .pageBackContainer,
.WaGadgetEventsStateDetails .pageTitleOuterContainer .pageViewSwitcherOuterContainer {
  margin-bottom: 10px;
}

/* Sponsor grid styles */
.sponsor-grid {
  padding: 30px;
}

.sponsor-grid .WaLayoutTable .WaLayoutTable {
  padding-bottom: 30px;
  border-bottom: 1px dashed #666;
}

.sponsor-grid .WaLayoutTable .WaLayoutItem {
  padding: 0px 20px;
}

/* For all mobile devices, change cover images from fixed to scroll
 * (iOS devices seem to have trouble with fixed, cover images) */
@media only screen and (min-width : 320px) and (max-width : 1024px) {
  .home-cover-img {
    background-attachment: scroll;
  }
}

/*
 * Override of a media tag for the theme which forces the header table on the
 * home and standard pages to continue to be a full-width collection of
 * inline-block elements.
 */
@media only screen and (max-width: 616px) {
  .home-header .WaLayoutTable .WaLayoutRow .WaLayoutItem {
    display: inline-block;
    width: 33% !important;
  }
  .standard-header .WaLayoutTable .WaLayoutRow .WaLayoutItem {
    display: inline-block;
    width: 50% !important;
  }
  .home-header .WaLayoutTable .WaLayoutRow .WaLayoutItem ~ .WaLayoutItem,
  .standard-header .WaLayoutTable .WaLayoutRow .WaLayoutItem ~ .WaLayoutItem {
    margin-top: 0px;
  }
}

/* For wider-width devices (e.g. landscape mode) */
@media only screen and (max-width: 680px) {
  /* Basic positioning of the absolutely-positioned
   * elements over the argyle splash... */
  .home-header {
    top: 10px;
  }

  .home-tagline {
    position: absolute;
    top: 78%;
  }

  .home-tagline font {
    font-size: 24px !important;
  }

  #imlp-first, #immt-third {
    display: none;
  }

  /* Shrinking of "why join?" image */
  .home-cover-why-join {
    min-height: 450px;
  }

  /* Positional changes for the quotes, text, background images */
  .home-quote {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .zoneHeader3 .home-cover-img {
    min-height: 1500px;
  }

  /* The text overlay over the bike image has a max-width and
   * is floated left on bigger screens; here we just remove the float */
  .zoneHeader3 .home-text-overlay .WaGadgetContent {
    float: none !important;
  }

  .zoneHeader4 .home-cover-img {
    min-height: 1000px;
  }
}

/* For narrower-width devices (e.g. portrait mode) */
@media only screen and (min-width : 320px) and (max-width : 450px) {
  /* Swap out argyle splash and "why join?" images
   * for mobile-friendly versions... */
  .argyle-splash {
    background: url(/resources/Pictures/Zoom/home/argyle_splash_mobile.png);
    background-size: cover;
    background-position: 0px -40px;
    background-repeat: no-repeat;
  }

  .home-cover-why-join {
    background: url(/resources/Pictures/Zoom/home/whyjoin_mobile_vertical.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 650px;
  }

  /* Positional changes for the quotes, text, background images */
  .home-text-overlay {
    padding: 10px 20px;
  }

  .zoneHeader3 .home-cover-img {
    min-height: 1550px;
  }

  .zoneHeader4 .home-cover-img {
    min-height: 1200px;
  }

  /* Members-only nav */
  .home-header .members-only-nav {
    margin-top: 0px;
  }

  .members-only-nav .member-dash-link img {
    height: 65px;
  }

  /* Sponsor grid */
  .sponsor-grid .WaLayoutTable .WaLayoutTable {
    padding-bottom: 0px;
    border-bottom: 0px;
  }

  .sponsor-grid .WaLayoutTable .WaLayoutItem {
    padding: 20px 0 50px;
    border-bottom: 1px dashed #666;
    text-align: center;
  }

}

