/* Hide ads */
.zoneBanner {
  display:none;
}

.WaLayoutTable {
  height: 100%;
}

.WaPlaceHolder > div {
  padding: 0;
}

.home-header {
  position: absolute;
  top: 25px;
  width: 100%;
}

.home-header [class^="WaGadget"] {
  margin: 0px;
}

.home-tagline {
  position: absolute;
  top: 80%;
}

.home-down-caret {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.home-cover-why-join {
  background: url(/resources/Pictures/Zoom/home/whyjoin.png) center top no-repeat;
  background-size:cover;
  min-height: 1000px;
}

.home-cover-img {
  background-size: cover;
  background-attachment: fixed;
  min-height: 750px;
  height: auto;
}

.home-text-overlay {
  background-color: rgba(255,255,255,0.2);
  padding: 10px 80px;
}

.home-text-overlay [class^="WaGadget"] {
  margin: 0px;
}

.home-quote {
  text-align: center;
}

.home-quote [class^="WaGadget"] {
  margin: 0px;
  display: inline-block;
  vertical-align: top;
}

.home-quote img {
  display: block;
  float: left;
}

.home-text-overlay p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.zoneHeader1 {
  background: transparent;
  background-color: #303030;
}

.zoneHeader1 .argyle-splash {
  position: relative;
  height: 100vh;
  background: url(/resources/Pictures/Zoom/home/argyle_splash.png) center top no-repeat;
  background-size: cover;
}

.zoneHeader2,
.zoneHeader3,
.zoneHeader4 {
  background: transparent;
}

.zoneHeader2 > .container_12,
.zoneHeader2 > .container_12 > .s1_grid_12,
.zoneHeader3 > .container_12,
.zoneHeader3 > .container_12 > .s1_grid_12,
.zoneHeader4 > .container_12,
.zoneHeader4 > .container_12 > .s1_grid_12,
.zoneContent > .container_12,
.zoneContent> .container_12 > .s1_grid_12 {
  width: 100%;
  margin: 0;
}

.zoneContent {}

.zoneFooter1 {}

.zoneFooter2 {}

.zoneFooter3 {
  background-color: #303030;
}

@media only screen and (min-width : 320px) and (max-width : 985px) {
  .zoneHeader1 .argyle-splash tbody,
  .zoneHeader1 .argyle-splash tr,
  .zoneHeader1 .argyle-splash td {
    height: 100%;
  }

  .home-tagline {
    position: absolute;
    top: 78%;
  }

  .home-cover-img {
    background-attachment: scroll;
  }
.zoneFooter1 {

    background-attachment: scroll;

}
}


@media only screen and (max-width: 617px) {
  .home-header {
    top: 10px;
  }
  .home-header .WaLayoutTable .WaLayoutRow .WaLayoutItem {
    display: inline-block;
    width: 33% !important;
  }
  .home-header .WaLayoutTable .WaLayoutRow .WaLayoutItem ~ .WaLayoutItem {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 680px) {
  .home-cover-why-join {
    min-height: 450px;
  }
  .zoneHeader3 .home-cover-img {
    min-height: 1500px;
  }

  .zoneHeader4 .home-cover-img {
    min-height: 1000px;
  }
  
  .home-quote {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media only screen and (min-width : 320px) and (max-width : 450px) {
  .zoneHeader1 .argyle-splash {
    background: url(/resources/Pictures/Zoom/home/argyle_splash_mobile.png);
    background-size: cover;
    background-position: 0px -40px;
    background-repeat: no-repeat;
  }

  .home-cover-why-join {
    background: url(/resources/Pictures/Zoom/home/whyjoin_mobile_vertical.png) center top no-repeat;
    background-size:cover;
    min-height: 650px;
  }

  .zoneHeader3 .home-cover-img {
    min-height: 1550px;
  }

  .zoneHeader4 .home-cover-img {
    min-height: 1200px;
  }

  .home-text-overlay {
    padding: 10px 20px;
  }

}

