/**
 * Overrides for the clean_lines_marine_green.v3.1 theme
 */

/* First few sets of styles here have to do with essentially
 * resetting some of the theme's layout styling */

/* Each "zone" defined by the theme's CSS enforces centered
 * container with a maxiumum width.  Instead, we want to
 * allow for usage of the entire width of the viewport, so
 * first thing we do is reset the main containers */
.zoneHeader1 > .container_12,
.zoneHeader1 > .container_12 > .s1_grid_12,
.zoneHeader2 > .container_12,
.zoneHeader2 > .container_12 > .s1_grid_12,
.zoneHeader3 > .container_12,
.zoneHeader3 > .container_12 > .s1_grid_12,
.zoneHeader4 > .container_12,
.zoneHeader4 > .container_12 > .s1_grid_12,
.zoneContent > .container_12,
.zoneContent> .container_12 > .s1_grid_12 {
  width: 100%;
  margin: 0;
}

/* Remove theme's place holder padding */
.WaPlaceHolder > div {
  padding: 0;
}

/* Remove each zone's background images and colors */
.zoneHeader1, .zoneHeader2,
.zoneHeader3, .zoneHeader4,
.zoneContent, .zoneFooter1,
.zoneFooter2, .zoneFooter3 {
  background: none;
}

/* Dark gray background for the header and footer.*/
.zoneHeader1, .zoneFooter3 {
  background: #303030;
}

/* Links */

a, a:visited {
  color: #1694d9;
}

/* Homepage styles */

/* zoneHeader1:
 * Contains a single layout w/a the argyle cover image,
 * 100% of viewport and relatively positioned with
 * all other components absolutely-positioned over it. */
.argyle-splash {
  position: relative;
  height: 100vh;
  background: url(/resources/Pictures/Zoom/home/argyle_splash.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0 15px;
}

/* Needed this to get the home page's absolutely-positioned
 * components to look right. */
.argyle-splash .WaLayoutTable,
.argyle-splash .WaLayoutTable tbody,
.argyle-splash .WaLayoutTable tr,
.argyle-splash .WaLayoutTable td {
  height: 100%;
}

.home-header {
  position: absolute;
  top: 25px;
  width: 100%;
}

.home-tagline {
  position: absolute;
  top: 80%;
  width: 100%;
  font-weight: lighter;
}

.home-down-caret {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

/* zoneHeader2:
 * "Why Join?" cover image */
.home-cover-why-join {
  background: url(/resources/Pictures/Zoom/home/whyjoin.png);
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 1000px;
}

/* General styling for homepage components */

/* Resetting of gadget margins for the various components */
.home-header [class^="WaGadget"],
.home-text-overlay [class^="WaGadget"],
.home-quote [class^="WaGadget"] {
  margin: 0px;
}

.home-cover-img {
  background-size: cover;
  background-attachment: fixed;
  min-height: 800px;
  height: auto;
}

.home-text-overlay {
  background: rgba(255,255,255,0.5);
  padding: 10px 80px;
}

.home-text-overlay p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.home-quote {
  text-align: center;
}

.home-quote [class^="WaGadget"] {
  display: inline-block;
  vertical-align: top;
}

.home-quote img {
  display: block;
  float: left;
}


/* For all mobile devices, change cover images from fixed to scroll
 * (iOS devices seem to have trouble with fixed, cover images) */
@media only screen and (min-width : 320px) and (max-width : 1024px) {
  .home-cover-img {
    background-attachment: scroll;
  }
}

/*
 * Override of a media tag for the theme which forces the header table on the
 * home page to continue to be a full-width collection of inline-block elements.
 */
@media only screen and (max-width: 616px) {
  .home-header .WaLayoutTable .WaLayoutRow .WaLayoutItem {
    display: inline-block;
    width: 33% !important;
  }
  .home-header .WaLayoutTable .WaLayoutRow .WaLayoutItem ~ .WaLayoutItem {
    margin-top: 0px;
  }
}

/* For wider-width devices (e.g. landscape mode) */
@media only screen and (max-width: 680px) {
  /* Basic positioning of the absolutely-positioned
   * elements over the argyle splash... */
  .home-header {
    top: 10px;
  }

  .home-tagline {
    position: absolute;
    top: 78%;
  }

  .home-tagline font {
    font-size: 24px !important;
  }

  /* Shrinking of "why join?" image */
  .home-cover-why-join {
    min-height: 450px;
  }

  /* Positional changes for the quotes, text, background images */
  .home-quote {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .zoneHeader3 .home-cover-img {
    min-height: 1500px;
  }

  /* The text overlay over the bike image has a max-width and
   * is floated left on bigger screens; here we just remove the float */
  .zoneHeader3 .home-text-overlay .WaGadgetContent {
    float: none !important;
  }

  .zoneHeader4 .home-cover-img {
    min-height: 1000px;
  }
}

/* For narrower-width devices (e.g. portrait mode) */
@media only screen and (min-width : 320px) and (max-width : 450px) {
  /* Swap out argyle splash and "why join?" images
   * for mobile-friendly versions... */
  .argyle-splash {
    background: url(/resources/Pictures/Zoom/home/argyle_splash_mobile.png);
    background-size: cover;
    background-position: 0px -40px;
    background-repeat: no-repeat;
  }

  .home-cover-why-join {
    background: url(/resources/Pictures/Zoom/home/whyjoin_mobile_vertical.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 650px;
  }

  /* Positional changes for the quotes, text, background images */
  .home-text-overlay {
    padding: 10px 20px;
  }

  .zoneHeader3 .home-cover-img {
    min-height: 1550px;
  }

  .zoneHeader4 .home-cover-img {
    min-height: 1200px;
  }
}
